<ion-modal-view view-title="选择位置" ng-controller="Map">
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">选择位置</h1>
	</ion-header-bar>
	<ion-content scroll="false">
		<section class="map-box"></section>
		<ion-content style="top:200px">
			<div class="list">
				<div class="item" ng-repeat="p in pois" ng-click="select(p)">
					<h2>{{p.name}}</h2>

					<p>{{p.addr}}</p>
				</div>
			</div>
		</ion-content>
	</ion-content>
</ion-modal-view>
