<!--<ion-nav-bar class="bar-positive">-->
	<!--<ion-nav-back-button>-->
	<!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->
<!--<ion-nav-view name="navView" animation="slide-left-right"></ion-nav-view>-->
<ion-nav-view name="navView"></ion-nav-view>
