<ion-modal-view class="bg-gray" ng-controller="Pics">
	<ion-header-bar  class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">图片</h1>
	</ion-header-bar>
	<ion-content ng-click="hide()" scroll="false">
		<ion-slide-box show-pager="true" style="height: 100%">
			<ion-slide ng-repeat="pic in pics">
				<div class="pics-show-panel">
					<div class="panel-table">
						<div class="table-cell">
							<img class="full-image" ng-src="{{pic}}">
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-modal-view>
