<ion-view view-title="发布">
	<ion-header-bar class="bar-positive">
		<h1 class="title">选择发布类型</h1>
	</ion-header-bar>
  <ion-content>
	  <div class="padding"></div>
	  <div class="index-tabs-panel border-bottom-1">
		  <div class="tabs">
			  <div class="tab-item" ng-click="linkJump('nav.applyEnterprise',1)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/zhaoqiye.png">
				  </div>
				  申请企业
			  </div>
			  <div class="tab-item"  ng-click="linkJump('nav.publishProduct',2)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/zhaochanpin.png">
				  </div>
				  发布产品
			  </div>
			  <div class="tab-item" ng-click="linkJump('nav.publishSetup',1)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/zhaoanzhuang.png">
				  </div>
				  发布安装
			  </div>
			  <div class="tab-item"  ng-click="linkJump('nav.publishBill',1)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/zhaoqiugou.png">
				  </div>
				  发布求购
			  </div>
		  </div>
	  </div>
	  <div class="padding"></div>
	  <div class="index-tabs-panel border-bottom-1">
		  <div class="tabs">
			  <div class="tab-item" ng-click="linkJump('nav.usedPublishPanel',1)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/ershoujiaoyi.png">
				  </div>
				  发布二手交易
			  </div>
			  <div class="tab-item" ng-click="linkJump('nav.publishTransGoods',1)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/pub-wuliu.png">
				  </div>
				  发布发货信息
			  </div>
			  <div class="tab-item"  ng-click="linkJump('nav.publishBlog',1)">
				  <div class="icon text-center">
					  <img class="full-img border-radius-10" src="img/pub-rizhi.png">
				  </div>
				  发布日志
			  </div>
		  </div>
	  </div>
  </ion-content>
</ion-view>
