<ion-view view-title="我的企业">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">我的企业</h1>
		<div class="button button-clear" ui-sref="nav.editEnterpriseInfo">
			编辑
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box>
			<ion-slide ng-repeat="pic in item.pics">
				<img class="full-image-sm" ng-src="{{pic}}@640w_2o_1l.jpg"/>
			</ion-slide>
		</ion-slide-box>
		<div class="list" ng-if="!error">
			<div class="item no-padding">
				<div class="row row-center row-no-padding">
					<div class="col col-75 padding-left">
						<i class="icon ion-ios-people-outline positive font-size-20"></i>
						<span class="font-size-18">{{item.company}}</span>
					</div>
					<div class="col col-25 text-center assertive-bg padding">
						<div ui-sref="nav.productManage">
							<font class="light font-size-14">店铺产品</font>
						</div>
					</div>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					公司简介:
				</div>
				<div class="padding-top-2">
					<p>{{item.desc}}</p>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					经营范围:
				</div>
				<div class="padding-top-2">
					<p>{{item.range}}</p>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-iphone dark"></i>
					联系方式:
				</div>
				<div class="padding-top-2">
					<p>联系人：{{item.name}}</p>
					<p>手机号：{{item.tel}}</p>
					<p>邮箱：{{item.email}}</p>
					<p>公司网址：{{item.website}}</p>
				</div>
			</div>
			<div class="item no-padding" ng-click="showCommentList()">
				<div class="row">
					<div class="col">
						<i class="icon ion-chatbox-working positive"></i>
						<span class="font-size-14">
							评论({{item.comments}}条)
						</span>
						<span class="item-note positive font-size-14">查看全部评论</span>
					</div>
				</div>
			</div>
		</div>
		<div class="list card"  ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<br>
		<br>
		<br>
	</ion-content>
	<div class="bar bar-footer bar-stable">
		<div class="title" ui-sref="nav.publishProduct">
			发布产品
		</div>
	</div>
</ion-view>
