<ion-modal-view title="开通VIP" ng-controller="VIP">
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">购买VIP</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ul class="list">
			<li class="item item-checkbox checkbox-balanced item-checkbox-right" ng-repeat="item in vipData">
				<label class="checkbox">
					<input type="radio" name="group" ng-value="item.monthCount" ng-model="data.monthCount"
						   ng-change="vipDataChange(item)">
				</label>
				<div class="row row-no-padding">
					<div class="col">
						开通
						<span class="positive">{{item.monthCount}}</span>个月
						<i class="icon ion-social-yen assertive"></i>
						<span class="assertive">{{item.monthCount*item.price}}</span>元
					</div>
					<div class="col text-right item-note">
						{{item.price}}元/月
					</div>
				</div>
			</li>
		</ul>
		<div class="padding-left padding-bottom color-gray" ng-click="showPage()">
			为会员后，说明您同意<span style="text-decoration: underline;">《会员协议》</span>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="openVIP()">购买VIP</button>
		</div>
	</ion-content>
</ion-modal-view>

