<ion-view view-title="日志">
	<ion-header-bar class="bar-positive">
		<h1 class="title">日志中心</h1>
		<button class="button button-icon icon ion-ios-plus-empty" ng-click="publishBlog()"></button>
	</ion-header-bar>
	<ion-content class="bg-gray">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list card" ng-repeat="item in items" style="margin: 10px 5px;">
			<a class="item list-panel" href="#/blog/{{item.id}}">
				<h2 class="positive">{{item.title}}</h2>

				<div class="row row-no-padding">
					<p class="col text-right font-size-12">
						<font class="color-gray">
							发布时间：{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
						</font>
					</p>
				</div>

				<p>{{item.content}}</p>

				<div class="row row-no-padding" ng-if="item.pics.length">
					<div class="col col-33" ng-repeat="pic in item.pics" ng-if="$index<3">
						<img class="list-img border-radius-3" ng-src="{{pic}}@200w_2o_1l.jpg" width="98%"/>
					</div>
				</div>
				<div class="row row-no-padding">
					<div class="col">

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-eye-outline color-gray"></i>
								{{item.hots}}
							</p>

							<p class="col">
								<i class="icon ion-chatbox-working color-gray"></i>
								{{item.comments}}
							</p>
						</div>

					</div>
					<p class="col text-right" ng-if="item.distanceDesc">
						{{item.distanceDesc}}
					</p>
				</div>
			</a>
		</div>
		<div class="list card" ng-if="!hasMore && items.length" style="margin: 10px 5px;">
			<div class="item item-unmore text-center">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有日志信息！
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
