<ion-view view-title="意见反馈">
	<ion-header-bar class="bar-stable" style="border-bottom: 1px solid #C4C4C4;">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">意见反馈</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="submitFeedback()">提交</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list" style="margin-top: 10px;">
			<div class="item row" style="border-left:none;border-right:none;border-color: #EBEBEB">
				<div class="col">
					<textarea placeholder="请输入您的意见和建议" rows="6" style="width: 100%;" ng-model="data.content" name="reason"></textarea>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
