<ion-modal-view title="评论列表" ng-controller="Comment">
	<ion-header-bar  class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">评论列表</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list">
			<div class="item list-panel item-avatar item-text-wrap padding-right" ng-repeat="item in items">
				<img ng-src="{{item.avatar}}@200w_2o_1l.jpg">
				<h2>
					{{item.userName}}
					<span ng-if="item.reply" class="positive">回复{{item.replyName}}</span>
				</h2>
				<p class="clear-nowrap font-size-14">
					{{item.content}}
				</p>
				<div class="row row-no-padding">
					<div class="col color-gray">
						{{item.createdAt*1000 | date:'yyyy-MM-dd HH:mm:ss'}}
					</div>
					<div class="col col-20 positive">
						<div ng-click="showSendComment(item.user.id,item.userName,item.content)">回复</div>
					</div>
				</div>
			</div>
			<div class="item item-unmore text-center" ng-if="!hasMore && items.length">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有评论！
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
	<div class="bar bar-footer bar-sendComment vbox positive-bg">
		<a class=" flex vbox-center" ng-click="showSendComment()">
			<i class="icon ion-ios-compose-outline"></i>
			<span>请输入评论内容</span>
		</a>
	</div>
</ion-modal-view>
