<div ng-if="send.targetUser && send.targetContent" class="padding" style="max-height: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
	{{send.targetUser}}:{{send.targetContent}}
</div>
<div class="item item-input border-none-width border-bottom-width-1 padding">
	<textarea placeholder={{send.placeholder}} style="min-height: 90px;" ng-model="send.content"></textarea>
</div>
