<ion-modal-view view-title="起重汇-搜索" ng-controller="Search">
	<ion-header-bar class="bar-positive position-relative search-header">
		<label class="search-name text-center light-bg"
			   ng-click="data.isShow = !data.isShow;">
			{{type.name}}
			<i class="icon ion-arrow-down-b"></i>
		</label>
		<div class="row row-no-padding">
			<div class="col-80 item-input-wrapper item-input-inset light-bg">
				<i class="icon ion-ios-search-strong placeholder-icon assertive"></i>
				<input type="search" placeholder="请输入关键字" ng-model="keyword">
			</div>
			<div class="col col-20 text-right">
				<button class="button button-clear" ng-click="search()">
					搜索
				</button>
			</div>
		</div>
	</ion-header-bar>
	<div class="search-list" ng-if="data.isShow">
		<div ng-class="item.value == type.value?'actived':''" class="text-center link-warp"
			 ng-repeat="item in data.search" ng-click="searchType(item)">
			{{item.name}}
		</div>
	</div>
	<ion-content ng-click="data.isShow = false">
		<div class="list">
			<div class="item padding" style="line-height: 33px;">
				<span class="font-size-14 padding-left"><strong>历史记录</strong></span>
				<button class="button button-small button-assertive button-outline item-note" ng-click="clearHistory()">
					清除历史记录
				</button>
				<!--<span class="item-note">清除历史记录</span>-->
			</div>
			<div class="item padding" ng-repeat="h in history">
				<div class="font-size-12" ng-if="h.type==1" ng-click="search(h.type,h.keyword)">
					企业:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==2" ng-click="search(h.type,h.keyword)">
					产品:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==3" ng-click="search(h.type,h.keyword)">
					工厂店:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==4" ng-click="search(h.type,h.keyword)">
					找报价:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==5" ng-click="search(h.type,h.keyword)">
					求购:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==6" ng-click="search(h.type,h.keyword)">
					二手求购:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==7" ng-click="search(h.type,h.keyword)">
					二次出售:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==8" ng-click="search(h.type,h.keyword)">
					找安装:{{h.keyword}}
				</div>
				<div class="font-size-12" ng-if="h.type==9" ng-click="search(h.type,h.keyword)">
					特价产品:{{h.keyword}}
				</div>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="hideSearch()"><strong>取消</strong></button>
		</div>
	</ion-content>
</ion-modal-view>
