<ion-view view-title="二手交易">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<div class="title" ng-click="showSearch()">
			<div class="item-input-wrapper search-middle">
				<i class="icon ion-ios-search-strong"></i>
				<span>搜索二手交易</span>
			</div>
		</div>
		<button class="button button-clear" ng-click="showPublishUsed()">发布</button>
	</ion-header-bar>
	<div class="bar bar-subheader" style="padding-left: 0;padding-right: 0;">
		<div class="m-tabs">
			<a class="m-left-tab" ng-class="index ? '':'m-tab-active'" ng-click="nextSlide(0)">出售</a>
			<a class="m-right-tab" ng-class="index ? 'm-tab-active':''" ng-click="nextSlide(1)">求购</a>
		</div>
		<div style="position: absolute;right: 0; width:33.33%;padding-top: 5px;">
			<div class="row">
				<diw class="col">
					<div class="row row-no-padding" ng-click="isShowSort()">
						<div class="col col-66 text-center">
							<span ng-if="data.day===0">发布时间</span>
							<span ng-if="data.day===1">一天内</span>
							<span ng-if="data.day===2">三天内</span>
							<span ng-if="data.day===3">一周内</span>
							<span ng-if="data.day===4">一月内</span>
						</div>
						<div class="col col-33 text-center">
							<i ng-if="!data.showSort" class="icon ion-chevron-down assertive"></i>
							<i ng-if="data.showSort" class="icon ion-chevron-up assertive"></i>
						</div>
					</div>
				</diw>
			</div>
			<div class="sort-panel text-center" ng-if="data.showSort" ng-click="closeAllShow()">
				<div class="row border" ng-click="selectSort(0)">
					<div class="col">全部</div>
				</div>
				<div class="row border" ng-click="selectSort(1)">
					<div class="col">一天内</div>
				</div>
				<div class="row border" ng-click="selectSort(2)">
					<div class="col">三天内</div>
				</div>
				<div class="row border" ng-click="selectSort(3)">
					<div class="col">一周内</div>
				</div>
				<div class="row border" ng-click="selectSort(4)">
					<div class="col">一月内</div>
				</div>
			</div>
		</div>
		<div style="height: 5px;background-color: #fff;"></div>
		<filterpicker type='type' select='select()' other='"hot"'></filterpicker>
	</div>
	<ion-content on-scroll-complete="onScrollComplete()" style="margin-top: 45px;" class="has-subheader"
				 ng-click="closeAllShow()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box active-slide="index" auto-play="false" show-pager="false"
					   on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-class="index!==0 ? 'slide-height':''">
				<div class="list" ng-if="usedProductItems.length">
					<a class="item list-panel item-thumbnail-left" ng-repeat="item in usedProductItems"
					   href="#/usedProduct/{{item.id}}">
						<img class="border-radius-3" ng-src="{{item.pic}}@200w_2o_1l.jpg">

						<h2 class="padding-top">{{item.title}}</h2>

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-social-yen assertive"></i>
								{{item.price}}
							</p>
						</div>
						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>
					</a>

					<div class="item item-unmore text-center"
						 ng-if="!hasMore && usedProductItems.length && index === 0">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="usedProductError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{usedProductError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!usedProductError&&!usedProductItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有二手产品信息!
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide ng-class="index!==1 ? 'slide-height':''">
				<div class="list" ng-if="usedBillItems.length">
					<a class="item list-panel item-thumbnail-left" ng-repeat="item in usedBillItems"
					   href="#/usedBill/{{item.id}}">
						<img class="border-radius-3" ng-src="{{item.pic}}@200w_2o_1l.jpg">

						<h2 class="padding-top">{{item.title}}</h2>
						<p>
							<i class="icon ion-ios-location positive"></i>
							{{item.cityName}}
						</p>
						<p>发布时间：{{item.createdAt*1000 | date:'yyyy-MM-dd HH:mm'}}</p>
						<!--<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>-->
					</a>

					<div class="item item-unmore text-center" ng-if="!hasMore && usedBillItems.length">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="usedBillError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{usedBillError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!usedBillError&&!usedBillItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有二手求购信息!
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>

