<ion-view view-title="发货信息详情">
	<ion-header-bar class="bar-positive position-relative">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">发货信息详情</h1>
		<button class="button button-icon icon ion-ios-more" ng-click="favShare.isShow = !favShare.isShow"></button>
	</ion-header-bar>
	<div class="fav-share-panel list card" ng-if="favShare.isShow">
		<div class="item item-icon-left positive-bg" ng-click="fav(item.id);favShare.isShow = false">
			<i class="icon ion-android-star light"></i>
			<span class="light">收藏</span>
		</div>
		<div class="item item-icon-left positive-bg" ng-click="share(item);favShare.isShow = false;" ng-if="isShare">
			<i class="icon ion-android-share light"></i>
			<span class="light">分享</span>
		</div>
	</div>
	<ion-content ng-click="favShare.isShow=false">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box>
			<ion-slide ng-repeat="pic in item.pics">
				<img class="full-image-sm" ng-src="{{pic}}@640w_2o_1l.jpg"/>
			</ion-slide>
		</ion-slide-box>
		<div class="list" ng-if="item.id">
			<div class="item padding item-text-wrap">
				<h2>
					{{item.title}}
				</h2>

				<p class="text-right font-size-12">发布时间：{{item.createdAt*1000|date:'yyyy.MM.dd'}}</p>
			</div>
			<a class="item item-divider row" href="tel:{{item.tel}}">
				<div class="col">
					<p style="font-size: 15px;">
						{{item.name}}:
						<span class="positive">{{item.tel}}</span>
					</p>

					<p class="padding-top-5">
						货物总重量:
						<span class="positive">{{item.weight}}</span>吨
					</p>
				</div>
				<div class="col col-20 text-right">
					<button style="min-width: 47px"
							class="button button-outline button-icon icon ion-ios-telephone button-positive">
					</button>
				</div>
			</a>

			<div class="item padding item-text-wrap">
				从<span class="positive trans-city font-size-14">{{item.fromCityName}}</span>
				到<span class="positive trans-city font-size-14">{{item.toCityName}}</span>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-pinpoint dark"></i>
					发货具体时间:
				</div>
				<div class="padding-top-2">
					<p>{{item.date*1000|date:'yyyy-MM-dd HH:mm'}}</p>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					详细描述:
				</div>
				<div class="padding-top-2">
					<p>{{item.content}}</p>
				</div>
			</div>
			<!--<div class="item padding item-text-wrap">-->
			<!--<div class="font-size-14">-->
			<!--<i class="icon ion-iphone dark"></i>-->
			<!--联系方式:-->
			<!--</div>-->
			<!--<div class="padding-top-2">-->
			<!--<p>联系人：{{item.name}}</p>-->
			<!--<p>手机号：{{item.tel}}</p>-->
			<!--</div>-->
			<!--</div>-->
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有发货信息！
			</div>
		</div>
	</ion-content>
</ion-view>
