<ion-view view-title="首页" ng-controller="Index">
	<ion-header-bar class="bar bar-header bar-search">
		<div ng-click="showSearch()" class="item-input-wrapper item item-input">
			<i class="icon ion-ios-search-strong"></i>
			<span style="">搜索企业、产品、工厂店、找报价</span>
		</div>
		<button ng-click="linkMessage()" class="button button-clear button-icon icon ion-chatbubble-working">
			<span  ng-if="user.hasNewMsg" class="round-toast-news"></span>
		</button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box show-pager="true" class="banner-panel" does-continue="true" slide-interval="2500"  auto-play="true" ng-if="ads.length">
			<ion-slide ng-repeat="ad in ads">
				<a href="{{ad.link}}">
					<img class="full-image" style="height: 178px;" ng-src="{{ad.pic}}"/>
				</a>
			</ion-slide>
		</ion-slide-box>
		<div class="index-tabs-panel">
			<div class="tabs">
				<div class="tab-item" ui-sref="nav.enterprise">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/zhaoqiye.png">
					</div>
					找企业
				</div>
				<div class="tab-item" ui-sref="nav.factory">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/zhaogongchang.png">
					</div>
					工厂店
				</div>
				<div class="tab-item" ui-sref="nav.product">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/zhaochanpin.png">
					</div>
					找产品
				</div>
				<div class="tab-item" ui-sref="nav.tender">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/zhaobiao.png">
					</div>
					看招标
				</div>
			</div>
		</div>
		<div class="index-tabs-panel">
			<div class="tabs">
				<div class="tab-item" ui-sref="nav.bill">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/zhaoqiugou.png">
					</div>
					求购信息
				</div>
				<div class="tab-item" ui-sref="nav.used">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/ershoujiaoyi.png">
					</div>
					二手交易
				</div>
				<div class="tab-item" ui-sref="nav.tuan">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/tejiamaichang.png">
					</div>
					特价卖场
				</div>
				<div class="tab-item" ui-sref="nav.news">
					<div class="icon text-center">
						<img class="full-img border-radius-10" ng-src="img/xinwenzixun.png">
					</div>
					资讯中心
				</div>
			</div>
		</div>
		<div class="list" style="margin: 0;">
			<div class="item padding-vertical" style="background-color: #f7f7f7">
				服务中心
			</div>
		</div>
		<div class="list" style="margin-bottom:0;">
			<div class="index-tabs-panel">
				<div class="tabs">
					<div class="tab-item" ui-sref="nav.offer">
						<div class="icon text-center">
							<img class="full-img border-radius-10" ng-src="img/zhaobaojia.png">
						</div>
						查报价
					</div>
					<div class="tab-item" ui-sref="nav.setup">
						<div class="icon text-center">
							<img class="full-img border-radius-10" ng-src="img/zhaoanzhuang.png">
						</div>
						找安装
					</div>
					<div class="tab-item" ui-sref="nav.transPanel">
						<div class="icon text-center">
							<img class="full-img border-radius-10" ng-src="img/zhaowuliu.png">
						</div>
						找物流
					</div>
					<div class="tab-item" ng-click="showInspectionCity()">
						<div class="icon text-center">
							<img class="full-img border-radius-10" ng-src="img/zhaobaojian.png">
						</div>
						去报检
					</div>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="item padding-vertical" style="background-color: #f7f7f7">
				<div class="row row-no-padding">
					<div class="col">
						优秀供应商
					</div>
					<div  ng-if="enterprisesItems.length && !error" class="col col-20 text-right positive" ng-click="linkEnterprise()">
						<span class="font-size-12 p-color" style="font-weight: 500;">更多</span>
					</div>
				</div>
			</div>
			<div class="item list-panel padding-top item-text-wrap" ng-if="!enterprisesItems.length && !error">
				<p class="text-center">暂时没有优秀供应商信息</p>
			</div>
			<div class="item list-panel padding-top item-text-wrap" ng-if="error">
				<p class="text-center">{{error}}</p>
			</div>
			<a class="item list-panel padding-vertical item-thumbnail-left" ng-repeat="item in enterprisesItems" href="#/enterprise/{{item.id}}">
				<img class="border-radius-3" ng-src="{{item.pic}}@200w_2o_1l.jpg">

				<h2>{{item.company}}</h2>

				<p>{{item.range}}</p>

				<div class="row row-no-padding">
					<p class="col col-66">
						<i class="icon ion-ios-telephone positive"></i>
						{{item.tel}}
					</p>
					<p class="col col-33 text-right">
						<i class="icon ion-chatbox-working positive"></i>
						{{item.comments}}
					</p>
				</div>
				<div class="row row-no-padding">
					<p class="col">
						访问量：{{item.hots}}
					</p>
					<p ng-if="item.distanceDesc" class="col text-right">
						距离：{{item.distanceDesc}}
					</p>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>
