<ion-modal-view view-title="{{pageDetail.title}}" ng-controller="Page">
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">{{pageDetail.title || title}}</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div ng-if="pageDetail" class="item padding item-text-wrap" style="border: none">
			<div style="overflow-x: auto!important;" ng-bind-html="pageDetail.content" class="ng-binding"></div>
		</div>

		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!pageDetail&&!loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有信息!
			</div>
		</div>
	</ion-content>
</ion-modal-view>


