<div class="date-box">
	<div class="row">
		<div class="col col-33 text-center">
			<button class="button-icon icon ion-android-arrow-dropup" ng-click="date.year = date.year + 1">
			</button>
			<label>
				<input class="text-center" type="text" ng-model="date.year">
			</label>
			<button class="button-icon icon ion-android-arrow-dropdown" ng-click="date.year = date.year - 1" 
					ng-disabled="date.year <= nowDate.year">
			</button>
		</div>
		<div class="col col-33 text-center">
			<button class="button-icon icon ion-android-arrow-dropup" ng-click="date.month = date.month + 1" ng-disabled="date.month >= 12">
			</button>
			<label>
				<input class="text-center" type="text" ng-model="date.month">
			</label>
			<button class="button-icon icon ion-android-arrow-dropdown" ng-click="date.month = date.month - 1" 
					ng-disabled="date.month <= 1 || (date.month <= nowDate.month && date.year <= nowDate.year)">
			</button>
		</div>
		<div class="col col-33 text-center">
			<button class="button-icon icon ion-android-arrow-dropup" ng-click="date.day = date.day + 1" ng-disabled="date.day >= 31">
			</button>
			<label>
				<input class="text-center" type="text" ng-model="date.day">
			</label>
			<button class="button-icon icon ion-android-arrow-dropdown" ng-click="date.day = date.day - 1"
					ng-disabled="date.day <= 1 || (date.day <= nowDate.day && date.month <= nowDate.month && date.year <= nowDate.year)">
			</button>
		</div>
	</div>
	<div class="day-notice text-center position-relative">
		<div class="divide-line"></div>
		<span ng-if="date.hour<12">上午</span>
		<span ng-if="date.hour>=12">下午</span>
	</div>
	<div class="row">
		<div class="col col-45 text-center">
			<div class="row text-right">
				<button class="col col-20 button-icon icon ion-android-arrow-dropleft" ng-click="date.hour = date.hour - 1" ng-disabled="date.hour <= 0">
				</button>
				<label class="col">
					<input class="text-center" type="text" ng-model="date.hour">
				</label>
				<button class="col col-20 button-icon icon ion-android-arrow-dropright" ng-click="date.hour = date.hour + 1"ng-disabled="date.hour >= 23">
				</button>
			</div>
		</div>
		<div class="col col-10 text-center">:</div>
		<div class="col col-45">
			<div class="row">
				<button class="col col-20 button-icon icon ion-android-arrow-dropleft" ng-click="date.minute = date.minute - 1" ng-disabled="date.minute <= 0">
				</button>
				<label class="col">
					<input class="text-center" type="text" ng-model="date.minute">
				</label>
				<button class="col col-20 button-icon icon ion-android-arrow-dropright" ng-click="date.minute = date.minute + 1" ng-disabled="date.minute >= 59">
				</button>
			</div>
		</div>
	</div>
</div>

