<ion-view view-title="物流发货信息">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">物流发货信息</h1>
		<button class="button button-clear" ng-click="showpublishTransGoods()">发布</button>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div style="position: absolute;right: 0; width:33.33%">
			<div class="row">
				<div class="col">
					<div class="row row-no-padding" ng-click="isShowSort()">
						<div class="col col-66 text-center">
							<span ng-if="data.day===0">发货时间</span>
							<span ng-if="data.day===1">一天内</span>
							<span ng-if="data.day===2">三天内</span>
							<span ng-if="data.day===3">一周内</span>
							<span ng-if="data.day===4">一月内</span>
						</div>
						<div class="col col-33 text-center">
							<i ng-if="!data.showSort" class="icon ion-chevron-down assertive"></i>
							<i ng-if="data.showSort" class="icon ion-chevron-up assertive"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="sort-panel text-center" ng-if="data.showSort" ng-click="closeAllShow()">
				<div class="row border" ng-click="selectSort(0)">
					<div class="col">全部</div>
				</div>
				<div class="row border" ng-click="selectSort(1)">
					<div class="col">一天内</div>
				</div>
				<div class="row border" ng-click="selectSort(2)">
					<div class="col">三天内</div>
				</div>
				<div class="row border" ng-click="selectSort(3)">
					<div class="col">一周内</div>
				</div>
				<div class="row border" ng-click="selectSort(4)">
					<div class="col">一月内</div>
				</div>
			</div>
		</div>
		<filterpicker type='type' title='title' title2='title2' count='count' select='select()'>
		</filterpicker>
	</div>
	<ion-content class="has-subheader" ng-click="closeAllShow()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list trans" ng-if="items.length">
			<a class="item list-panel" ng-repeat="item in items" href="#/transGoods/{{item.id}}">
				<h2>{{item.title}}</h2>
				<p>
					<i class="icon ion-ios-location positive"></i>
					从<span class="positive trans-city font-size-12">{{item.fromCityName}}</span>
					到<span class="positive trans-city font-size-12">{{item.toCityName}}</span>
				</p>
				<p class="font-size-12">
					发货时间:
					{{item.date*1000 | date:'yyyy-MM-dd HH:mm'}}
				</p>
			</a>
		<!--	<div class="item text-center item-unmore" ng-if="!hasMore && items.length">
				已加载完！
			</div>-->
		</div>
		<div class="list card" ng-if="!hasMore && items.length" style="margin: 10px 5px;">
			<div class="item item-unmore text-center">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有发货信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>

