<ion-view view-title="物流发货管理">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">物流发货管理</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="editClick()">
				{{data.title}}
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="item in items" href="#/transGoods/{{item.id}}">
				<div class="item list-panel">
					<h2>{{item.title}}</h2>
					<p>
						<i class="icon ion-ios-location positive"></i>
						从<span class="positive trans-city font-size-12">{{item.fromCityName}}</span>
						到<span class="positive trans-city font-size-12">{{item.toCityName}}</span>
					</p>
					<p class="font-size-12">
						发货时间:
						{{item.date*1000 | date:'yyyy-MM-dd HH:mm'}}
					</p>
				</div>
				<ion-delete-button class="ion-minus-circled" ng-click="removeTransGoods(item)">
				</ion-delete-button>
			</ion-item>
			<div class="item text-center item-unmore" ng-if="!hasMore && items.length">
				已加载完！
			</div>
		</ion-list>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有发货信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
		<br>
		<br>
		<br>
	</ion-content>
	<div class="bar bar-footer bar-stable">
		<div class="title" ui-sref="nav.publishTransGoods">
			发布物流发货信息
		</div>
	</div>
</ion-view>


