<ion-view title="发布物流发货信息">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.publisher"></back-button>
		<h1 class="title">发布物流发货信息</h1>
	</ion-header-bar>
	<ion-content>
		<div class="text-center border height-100" ng-click="uploadPic(0)">
			<img style="width: 100%;height: 100%;" ng-if="picImg.url" ng-src="{{picImg.url}}">
			<i ng-if="!picImg.url" style="font-size: 26px;" class="icon ion-ios-camera"></i>
			<span ng-if="!picImg.url" style="vertical-align: super;">上传一张封面吧~_~!</span>
		</div>
		<div class="list">
			<div class="item item-input">
				<span class="input-label">标&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp题：</span>
				<input type="text" placeholder="请输入标题(必填)" ng-model="data.title">
			</div>
			<div class="item item-input item-icon-right" ng-click="showFromPicker()">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">发货地点：</span>
				<p class="placeholder" ng-if="!fromCity.name">请选择地区(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="fromCity.name">{{fromCity.name}}</p>
			</div>
			<div class="item item-input item-icon-right" ng-click="showToPicker()">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">收货地点：</span>
				<p class="placeholder" ng-if="!toCity.name">请选择地区(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="toCity.name">{{toCity.name}}</p>
			</div>
			<div class="item item-input item-icon-right">
				<i class="icon font-style"><span class="padding-right">吨</span></i>
				<span class="input-label">货物重量：</span>
				<input type="text" placeholder="请输入货物重量(必填)" ng-model="data.weight">
			</div>
			<div class="item item-input item-icon-right" ng-click="showDatepicker()">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">发货时间：</span>
				<p class="add-nowrap icon-input-value">{{data.date*1000|date:'yyyy-MM-dd HH:mm'}}</p>
			</div>
			<div class="item item-input item-icon-right" ng-click="showContentPanel('描述',data.content)">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">描&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp述：</span>
				<p class="placeholder" ng-if="!data.content">请输入描述(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="data.content">{{data.content}}</p>
			</div>
			<div class="item item-input">
				<span class="input-label">联&nbsp系&nbsp人&nbsp：</span>
				<input type="text" placeholder="请输入联系人(必填)" ng-model="data.name">
			</div>
			<div class="item item-input">
				<span class="input-label">电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话：</span>
				<input type="text" placeholder="请输入电话,可为固话(必填)" ng-model="data.tel">
			</div>
			<div class="position-relative">
				<div class="item-toggle-agree">
					<div ng-click="showPage()" ng-class="data.isAgree ? '':'color-gray'">
						<span ng-if="data.isAgree">同意</span><span ng-if="!data.isAgree">是否同意</span><span>《发货服务协议》</span>
					</div>
				</div>
				<div class="item item-toggle">
					<span>&nbsp;</span>
					<label class="toggle toggle-positive">
						<input type="checkbox" ng-model="data.isAgree" ng-checked="data.isAgree" ng-change="isAgree()">
						<label class="track">
							<label class="handle"></label>
						</label>
					</label>
				</div>
			</div>
		</div>
		<div class="border company-pics">
			<div class="padding">添加产品照片(最多5张)</div>
			<div class="row row-center">
				<div class="col col-20 pic" ng-repeat="img in picsImg" ng-if="picsImg.length">
					<img ng-src="{{img.url}}@100w.jpg" width="100%"/>
					<i class="icon ion-close-circled" ng-click="deletePic(img)"></i>
				</div>
				<div class="col col-20 pic" ng-if="picsImg.length<5">
					<img class="border" src="img/photo.jpg" width="100%" ng-click="uploadPic(1)"/>
				</div>
			</div>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="publish()"><strong>发布</strong></button>
		</div>
	</ion-content>
</ion-view>
