<ion-view view-title="报价详情">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">报价详情</h1>
		<button class="button button-icon icon ion-ios-star-outline" ng-click="fav(item.id)"></button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box>
			<ion-slide ng-repeat="pic in item.pics">
				<img class="full-image-sm" ng-src="{{pic}}@640w_2o_1l.jpg"/>
			</ion-slide>
		</ion-slide-box>
		<div class="list" ng-if="item.id">
			<h2 class="item padding item-text-wrap text-center">
				{{item.title}}
			</h2>
			<a class="item item-divider row" href="tel:{{item.tel}}">
				<div class="col">
					<p style="font-size: 15px;">
						{{item.name}}:
						<span class="positive">{{item.tel}}</span>
					</p>

					<p class="padding-top-5">
						价格:
						<i class="icon ion-social-yen assertive"></i>
						<span class="assertive">{{item.price}}</span>
						<span style="font-size: 11px;" ng-if="item.isVIP">优惠价</span>
						<span style="font-size: 11px;" ng-if="!item.isVIP">普通等级</span>
					</p>
				</div>
				<div class="col col-20 text-right">
					<button style="min-width: 47px"
							class="button button-outline button-icon icon ion-ios-telephone button-positive">
					</button>
				</div>
			</a>

			<div class="item padding item-text-wrap">
				<div class="row row-no-padding">
					<p class="col">规格：<span class="positive">{{item.specs}}</span></p>

					<p class="col">型号：<span class="positive">{{item.model}}</span></p>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					使用范围:
				</div>
				<div class="padding-top-2">
					<div class="font-size-12" style="overflow-x: auto!important;" ng-bind-html="item.range"></div>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					详情描述:
				</div>
				<div class="padding-top-2">
					<div class="font-size-12" style="overflow-x: auto!important;" ng-bind-html="item.content"></div>
				</div>
			</div>
			<!--<div class="item padding item-text-wrap">-->
			<!--<div class="font-size-14">-->
			<!--<i class="icon ion-iphone dark"></i>-->
			<!--联系方式:-->
			<!--</div>-->
			<!--<div class="padding-top-2">-->
			<!--<p>联系人：{{item.name}}</p>-->
			<!--<p>手机号：{{item.tel}}</p>-->
			<!--</div>-->
			<!--</div>-->
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有报价信息!
			</div>
		</div>
	</ion-content>
</ion-view>
