<ion-view view-title="报价列表">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<div class="title" ng-click="showSearch()">
			<div class="item-input-wrapper search-middle">
				<i class="icon ion-ios-search-strong"></i>
				<span>搜索报价</span>
			</div>
		</div>
		<button class="button button-clear" style="color: #cc0001;">占位</button>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div style="position: absolute;right: 0; width:48%">
			<div class="row">
				<diw class="col">
					<div class="row row-no-padding" ng-click="isShowSort()">
						<div class="col col-66 text-center">
							排序
						</div>
						<div class="col col-33 text-center">
							<i ng-if="!data.showSort" class="icon ion-chevron-down assertive"></i>
							<i ng-if="data.showSort" class="icon ion-chevron-up assertive"></i>
						</div>
					</div>
				</diw>
			</div>
			<div class="sort-panel text-center" ng-if="data.showSort" ng-click="closeAllShow()">
				<div class="row border" ng-click="selectSort('price')">
					<div class="col">价格</div>
				</div>
				<div class="row border" ng-click="selectSort('time')">
					<div class="col">时间</div>
				</div>
			</div>
		</div>
		<filterpicker type='type' select='select()'></filterpicker>
	</div>
	<ion-content class="has-subheader" ng-click="closeAllShow()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list">
			<a class="item list-panel item-thumbnail-left" ng-repeat="item in items" href="#/offer/{{item.id}}">
				<img class="border-radius-3" ng-src="{{item.pic}}@200w_2o_1l.jpg">

				<div class="padding-top"></div>
				<h2 class="padding-top">{{item.title}}</h2>

				<div class="row row-no-padding padding-top">
					<p class="col">
						<i class="icon ion-social-yen assertive"></i>
						{{item.price}}
						<span style="font-size: 11px;" ng-if="item.isVIP">优惠价</span>
						<span style="font-size: 11px;" ng-if="!item.isVIP">普通等级</span>
					</p>

					<!--<p class="text-right">-->
					<!--<i class="icon ion-pinpoint positive"></i>-->
					<!--{{item.createdAt*1000|date:'yyyy.MM.dd'}}-->
					<!--</p>-->
				</div>
			</a>

			<div class="item item-unmore text-center" ng-if="!hasMore && items.length">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有报价信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
