<ion-view view-title="求购信息列表">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<div class="title" ng-click="showSearch()">
			<div class="item-input-wrapper search-middle">
				<i class="icon ion-ios-search-strong"></i>
				<span>搜索求购信息</span>
			</div>
		</div>
		<button class="button button-clear" ng-click="showPublishBill()">发布</button>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div style="position: absolute;right: 0; width:33.33%">
			<div class="row">
				<div class="col">
					<div class="row row-no-padding" ng-click="isShowSort()">
						<div class="col col-66 text-center">
							<span ng-if="data.day===0">发布时间</span>
							<span ng-if="data.day===1">一天内</span>
							<span ng-if="data.day===2">三天内</span>
							<span ng-if="data.day===3">一周内</span>
							<span ng-if="data.day===4">一月内</span>
						</div>
						<div class="col col-33 text-center">
							<i ng-if="!data.showSort" class="icon ion-chevron-down assertive"></i>
							<i ng-if="data.showSort" class="icon ion-chevron-up assertive"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="sort-panel text-center" ng-if="data.showSort" ng-click="closeAllShow()">
				<div class="row border" ng-click="selectSort(0)">
					<div class="col">全部</div>
				</div>
				<div class="row border" ng-click="selectSort(1)">
					<div class="col">一天内</div>
				</div>
				<div class="row border" ng-click="selectSort(2)">
					<div class="col">三天内</div>
				</div>
				<div class="row border" ng-click="selectSort(3)">
					<div class="col">一周内</div>
				</div>
				<div class="row border" ng-click="selectSort(4)">
					<div class="col">一月内</div>
				</div>
			</div>
		</div>
		<filterpicker type='type' select='select()' other='"hot"'></filterpicker>
	</div>
	<ion-content class="has-subheader" ng-click="closeAllShow()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list list-panel">
			<a class="item item-thumbnail-left" ng-repeat="item in items" href="#/bill/{{item.id}}">
				<img class="border-radius-3" ng-src="{{item.pic}}@200w_2o_1l.jpg">
				<h2 class="padding-top">{{item.title}}</h2>
				<p>
					<i class="icon ion-ios-location positive"></i>
					{{item.cityName}}
				</p>
				<p>发布时间：{{item.createdAt*1000 | date:'yyyy-MM-dd HH:mm'}}</p>
			</a>
			<div class="item item-unmore text-center" ng-if="!hasMore && items.length">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有求购信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>

