<ion-view view-title="消息中心">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">消息中心</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="editClick()">
				{{data.title}}
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="message in messageList">
				<a ng-if="message.type!=101 && message.type!=100" class="item item-text-wrap" ng-class="message.read?'':'item-icon-right'" href="#/{{message.link}}/{{message.target}}">
					<i ng-if="!message.read" class="icon ion-record assertive"></i>
					<h3 ng-if="!message.isReply" style="line-height: 20px;">
						<strong>{{message.typeTitle}}评论:</strong>
						{{message.replyName}}评论了您的“<span style="color: #a1a1a1;">{{message.title}}</span>”
					</h3>
					<h3 ng-if="message.isReply" style="line-height: 20px;">
						<strong>{{message.typeTitle}}评论回复:</strong>
						{{message.replyName}}在“<span style="color: #a1a1a1;">{{message.title}}</span>”里回复了您的评论
					</h3>
		 				<span class="item-note">
      					{{message.createdAt*1000|date:'yyyy.MM.dd'}}
    					</span>

					<p>点击查看详情</p>
				</a>
				<a ng-if="message.type==100" class="item item-text-wrap" ng-class="message.read?'':'item-icon-right'" href="#/{{message.link}}/{{message.target}}" ng-if="message.type!=101">
					<i ng-if="!message.read" class="icon ion-record assertive"></i>
					<h3 style="line-height: 20px;">
						<strong>{{message.typeTitle}}:</strong>
						{{message.replyName}}您好！{{message.title}}</h3>
		 			<span class="item-note">
      					{{message.createdAt*1000|date:'yyyy.MM.dd'}}
    				</span>
					<p>点击查看详情</p>
				</a>
				<div class="item item-text-wrap" ng-class="message.read?'':'item-icon-right'" ng-if="message.type==101">
					<i ng-if="!message.read" class="icon ion-record assertive"></i>
					<div class="row row-no-padding">
						<div class="col"><h3><strong>【{{message.target}}删除】提示</strong></h3></div>
						<p class="col-33 text-right">
							<span class="item-note">{{message.createdAt*1000|date:'yyyy.MM.dd'}}</span>
						</p>
					</div>
					<p>您的<strong>{{message.title}}</strong>已被删除</p>
				</div>
				<ion-delete-button class="ion-minus-circled" ng-click="removeMessage(message)">
				</ion-delete-button>
			</ion-item>
			<div class="item item-unmore text-center" ng-if="!hasMore && messageList.length">
				已加载完！
			</div>
		</ion-list>

		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!messageList.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有提示消息！
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>

</ion-view>


