<ion-view title="发布产品">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.publisher"></back-button>
		<h1 class="title">发布产品</h1>
	</ion-header-bar>
	<ion-content>
		<div class="text-center border height-100" ng-click="uploadPic(0)">
			<img style="width: 100%;height: 100%;" ng-if="picImg.url" ng-src="{{picImg.url}}">
			<i ng-if="!picImg.url" style="font-size: 26px;" class="icon ion-ios-camera"></i>
			<span ng-if="!picImg.url" style="vertical-align: super;">上传一张产品封面吧~_~!</span>
		</div>
		<div class="list">
			<div class="item item-input">
				<span class="input-label">标&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp题：</span>
				<input type="text" placeholder="请输入标题(必填)" ng-model="data.title">
			</div>
			<div class="item item-input item-icon-right" ng-click="showPicker()">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">分&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp类：</span>
				<p class="placeholder" ng-if="!category.name">请选择分类(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="category.name">{{category.name}}</p>
			</div>
			<div class="item item-input item-icon-right">
				<i class="icon font-style"><span class="padding-right">元</span></i>
				<span class="input-label">价&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格：</span>
				<input type="text" placeholder="请输入价格(必填)" ng-model="data.price">
			</div>
			<div class="item item-input item-icon-right" ng-click="showContentPanel('使用范围',data.range)">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">使用范围：</span>
				<p class="placeholder" ng-if="!data.range">请输入使用范围(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="data.range">{{data.range}}</p>
			</div>
			<div class="item item-input item-icon-right" ng-click="showContentPanel('描述',data.content)">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">描&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp述：</span>
				<p class="placeholder" ng-if="!data.content">请输入描述(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="data.content">{{data.content}}</p>
			</div>
		</div>
		<div class="border company-pics">
			<div class="padding">添加产品照片(最多5张)</div>
			<div class="row row-center">
				<div class="col col-20 pic" ng-repeat="img in picsImg" ng-if="picsImg.length">
					<img ng-src="{{img.url}}@100w.jpg" width="100%"/>
					<i class="icon ion-close-circled" ng-click="deletePic(img)"></i>
				</div>
				<div class="col col-20 pic" ng-if="picsImg.length<5">
					<img class="border" src="img/photo.jpg" width="100%" ng-click="uploadPic(1)"/>
				</div>
			</div>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="publish()"><strong>发布</strong></button>
		</div>
	</ion-content>
</ion-view>
