<ion-view view-title="物流信息">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">物流查询</h1>
	</ion-header-bar>
	<ion-content>
		<div>
			<img style="width: 100%;" src="img/wuliu-top.png">
		</div>
		<div class="row">
			<div class="col padding" ui-sref="nav.transLine">
				<img style="width: 100%;" src="img/wuliu-car.png">
			</div>
			<div class="col padding" ui-sref="nav.transGoods">
				<img style="width: 100%;" src="img/wuliu-product.png">
			</div>
		</div>
	</ion-content>
</ion-view>
