<ion-modal-view title="{{title}}" ng-controller="ContentPanel">
	<ion-header-bar  class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">{{title}}</h1>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="item item-input border-none-width border-bottom-width-1">
			<textarea placeholder="{{placeholder}}" style="min-height: 90px;" ng-model="data.content"></textarea>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="submit()">{{butTitle}}</button>
		</div>
	</ion-content>
</ion-modal-view>

