<div class="filter-panel">
	<div class="row" style="background-color: #fff;">
		<div ng-if="type==='all'||type==='city'" class="col border-right" ng-class="type==='all' ||count===2?'col-33':'col-50'">
			<div class="row row-no-padding" ng-click="isShowArea(0,1)">
				<div class="col col-66 text-center add-nowrap">
					{{cityTitle||'地区'}}
				</div>
				<div class="col col-33 text-center">
					<i ng-class="data.oneLevel.length && selectType===0 && position===1?'ion-chevron-up':'ion-chevron-down'" class="icon assertive"></i>
				</div>
			</div>
		</div>
		<div ng-if="type==='all'||type==='category'" class="col border-right" ng-class="type==='all' ||count===2?'col-33':'col-50'">
			<div class="row row-no-padding" ng-click="isShowArea(1,1)">
				<div class="col col-66 text-center add-nowrap">
					{{categoryTitle||'产品分类'}}
				</div>
				<div class="col col-33 text-center">
					<i ng-class="data.oneLevel.length && selectType===1?'ion-chevron-up':'ion-chevron-down'" class="icon assertive"></i>
				</div>
			</div>
		</div>
		<div ng-if="type==='city' && count===2" class="col col-33 border-right">
			<div class="row row-no-padding" ng-click="isShowArea(0,2)">
				<div class="col col-66 text-center add-nowrap">
					{{cityTitle2||'地区'}}
				</div>
				<div class="col col-33 text-center">
					<i ng-class="data.oneLevel.length && selectType===0 && position===2?'ion-chevron-up':'ion-chevron-down'" class="icon assertive"></i>
				</div>
			</div>
		</div>
		<div ng-if="type==='all' ||count===2" class="col col-33"></div>
	</div>
	<div class="row row-no-padding position-relative" ng-click="closeAllShow()" ng-class="data.oneLevel.length?'full-height':''">
		<div class="col col-33 position-relative" ng-if="data.oneLevel.length" style="height:200px;">
		<!--	<ion-scroll>
				<div class="list ion-content-height">
					<div class="item" ng-click="selectArea({},true)"><strong style="font-weight: bolder;letter-spacing: 1em;color: #000">全部</strong></div>
					<div ng-if="other=='hot'" class="item item-icon-right" ng-click="selectArea(hotCity,false)">
						<font ng-class="hotCity.id == data.selectOneLevel.id ? 'font-bold':''">{{hotCity.name}}</font>
						<i ng-if="hotCity.children.length" class="icon ion-ios-arrow-right"></i></div>
					<div ng-if="other=='base'" class="item item-icon-right" ng-click="selectArea(baseCity,false)">
						<font ng-class="baseCity.id == data.selectOneLevel.id ? 'font-bold':''">{{baseCity.name}}</font>
						<i ng-if="baseCity.children.length" class="icon ion-ios-arrow-right"></i></div>
					<div class="item item-icon-right" ng-repeat="one in data.oneLevel">
						<font ng-click="selectArea(one,true)" ng-class="one.id == data.selectOneLevel.id ? 'font-bold':''">{{one.name}}</font>
						<i ng-click="selectArea(one,false)" ng-if="one.children.length" class="icon ion-ios-arrow-right"></i>
					</div>
				</div>
			</ion-scroll>-->
			<ion-scroll>
				<div class="list ion-content-height">
					<div class="item" ng-click="selectArea({},true)"><strong style="font-weight: bolder;letter-spacing: 1em;color: #000">全部</strong></div>
					<div ng-if="other=='hot'" class="item row" ng-click="selectArea(hotCity,false)">
						<div class="col col-80">
							<font ng-class="hotCity.id == data.selectOneLevel.id ? 'font-bold':''">{{hotCity.name}}</font>
						</div>
						<div class="col col-20" ng-if="hotCity.children.length">
							<i class="icon ion-ios-arrow-right"></i>
						</div>
					</div>
					<div ng-if="other=='base'" class="item row" ng-click="selectArea(baseCity,false)">
						<div class="col col-80">
							<font ng-class="baseCity.id == data.selectOneLevel.id ? 'font-bold':''">{{baseCity.name}}</font>
						</div>
						<div class="col col-20" ng-if="baseCity.children.length">
							<i class="icon ion-ios-arrow-right"></i>
						</div>
					</div>
					<div class="item row" ng-repeat="one in data.oneLevel">
						<div class="col col-80" ng-click="selectArea(one,true)">
							<font ng-class="one.id == data.selectOneLevel.id ? 'font-bold':''">{{one.name}}</font>
						</div>
						<div class="col col-20" ng-click="selectArea(one,false)" ng-if="one.children.length">
							<i class="icon ion-ios-arrow-right"></i>
						</div>
					</div>
				</div>
			</ion-scroll>
		</div>
		<div class="col col-33 position-relative" ng-if="data.twoLevel.length" style="height: 200px;">
			<!--<ion-scroll>
				<div class="list ion-content-height">
					<div class="item" ng-click="selectArea(data.selectOneLevel,true)" 
						 ng-hide="data.selectOneLevel.id=='base123' || data.selectOneLevel.id=='hot123'">
						<strong style="font-weight: bolder;letter-spacing: 1em;color: #000">全部</strong>
					</div>
					<div class="item item-icon-right" ng-repeat="two in data.twoLevel">
						<font ng-click="selectArea(two,true)" ng-class="two.id == data.selectTwoLevel.id ? 'font-bold':''">{{two.name}}</font>
						<i ng-click="selectArea(two,false)" ng-if="two.children.length" class="icon ion-ios-arrow-right"></i>
					</div>
				</div>
			</ion-scroll>-->
			<ion-scroll>
				<div class="list ion-content-height">
					<div class="item" ng-click="selectArea(data.selectOneLevel,true)"
						 ng-hide="data.selectOneLevel.id=='base123' || data.selectOneLevel.id=='hot123'">
						<strong style="font-weight: bolder;letter-spacing: 1em;color: #000">全部</strong>
					</div>
					<div class="item row" ng-repeat="two in data.twoLevel">
						<div class="col col-80" ng-click="selectArea(two,true)">
							<font ng-class="two.id == data.selectTwoLevel.id ? 'font-bold':''">{{two.name}}</font>
						</div>
						<div class="col col-20" ng-click="selectArea(two,false)">
							<i ng-if="two.children.length" class="icon ion-ios-arrow-right"></i>
						</div>
					</div>
				</div>
			</ion-scroll>
		</div>
		<div class="col col-33 position-relative" ng-if="data.threeLevel.length" style="height: 200px;">
			<ion-scroll>
				<div class="list ion-content-height">
					<div class="item" ng-click="selectArea(data.selectTwoLevel,true)">
						<strong style="font-weight: bolder;letter-spacing: 1em;color: #000">全部</strong>
					</div>
					<div ng-click="selectArea(three,false)" class="item item-icon-right" ng-repeat="three in data.threeLevel">
						<font>{{three.name}}</font>
						<i ng-if="three.children.length" class="icon ion-ios-arrow-right"></i>
					</div>
				</div>
			</ion-scroll>
		</div>
	</div>
</div>

