<ion-modal-view view-title="登录" ng-controller="Login" class="login-panel">
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">登录</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="text-center top-img">
				<img width="150" ng-src="img/login.png">
			</div>
			<div class="padding">
				<div class="item item-input border-radius-3">
					<i class="icon login-input-label ion-iphone"></i>
					<input type="tel" maxlength="11" ng-model="data.tel" placeholder="请输入手机号">
					<i ng-if="data.tel" class="icon ion-ios-close-outline padding-right"
					   style="font-size: 1.3em;display: inline-block;" ng-click="data.tel = ''"></i>
				</div>
			</div>
			<div class="padding">
				<div class="item item-input border-radius-3">
					<i class="icon login-input-label ion-locked"></i>
					<input type="password" maxlength="20" ng-model="data.password" placeholder="请输入密码(6-20个字符)">
					<i ng-if="data.password" class="icon ion-ios-close-outline padding-right"
					   style="font-size: 1.3em;display: inline-block;" ng-click="data.password = ''"></i>
				</div>
			</div>
		</div>
		<div class="padding-horizontal">
			<button class="button button-block button-positive" ng-click="login()"><strong>登录</strong></button>
		</div>
		<div class="row">
			<p class="col col-50 text-left padding-left">
				<button class="button button-small button-outline button-positive" ng-click="showForgot()">忘记密码</button>
			</p>
			<p class="col col-50 text-right padding-right">
				<button class="button button-small button-outline button-balanced" ng-click="showRegister()">免费注册
				</button>
			</p>
		</div>
	</ion-content>
</ion-modal-view>
