<ion-modal-view title="{{title}}" ng-controller="Picker">
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">{{parentItem.name&&title=='城市'?parentItem.name:title}}</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div ng-if="parentItem.name&&title=='城市'" class="item padding-vertical font-bold"
				 ng-click="select(parentItem)">
				{{parentItem.name}} <font class="assertive" style="font-size: 13px;">(全部地区)</font>
			</div>
			<div ng-if="parentItem.name&&title=='分类'" class="item text-center padding-vertical font-bold"
				 ng-click="select(parentItem)">
				{{parentItem.name}}
			</div>
			<div class="item item-icon-right" ng-repeat="item in items" ng-click="select(item)">
				<i ng-if="item.children.length && item.level < levelCount" class="icon ion-ios-arrow-right"></i>
				{{item.name}}
			</div>
			<div class="list card" ng-if="!items.length">
				<div class="item text-center">
					暂时没有数据!
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
