<ion-modal-view title="注册" ng-controller="Register">
	<ion-header-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-ios-arrow-back" ng-click="hide()">
			</button>
		</div>
		<h1 class="title">注册</h1>
	</ion-header-bar>
	<ion-content class="padding-top">
		<div class="list list-inline">
			<div class="item item-input no-padding">
				<div class="row row-center no-padding padding-left-5">
					<div class="col">
						<input type="text" maxlength="11" ng-model="data.tel" placeholder="请输入手机号">
					</div>
					<div class="col col-25 text-right" ng-if="data.tel">
						<i class="icon ion-ios-close-outline padding-right-5" style="font-size: 1.3em;"
						   ng-click="data.tel = ''"></i>
					</div>
				</div>
			</div>

			<div class="item item-input no-padding">
				<div class="row row-center no-padding padding-left-5">
					<div class="col col-66">
						<input type="text" ng-model="data.ver" placeholder="请输入短信验证码">
					</div>
					<div class="col col-33 text-right">
						<button class="button base-btn-bg button-small"
								style="background-color: #f29436; color: #fff;border: none;"
								ng-disabled="dis" ng-click="sendVer()"
								ng-bind="resendText"></button>
					</div>
				</div>
			</div>
			<div class="item item-input no-padding">
				<div class="row row-center no-padding padding-left-5">
					<div class="col">
						<input type="password" maxlength="20" ng-model="data.password" placeholder="请输入密码(6-20个字符)">
					</div>
					<div class="col col-25 text-right" ng-if="data.password">
						<i class="icon ion-ios-close-outline padding-right-5" style="font-size: 1.3em;"
						   ng-click="data.password = ''"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="register()"><strong>立刻注册</strong></button>
		</div>
		<div class="padding text-center">
			<img style="margin-top: 30px;" ng-src="img/qzh.jpg" width="245" height="120">
		</div>
	</ion-content>
</ion-modal-view>
