<!--<ion-nav-bar class="bar-positive"></ion-nav-bar>-->
<ion-tabs class="tabs-icon-top tabs-stable">
	<ion-tab title="主页" icon-off="tab-home" icon-on="tab-home-active" ui-sref="tab.index">
		<ion-nav-view name="indexView"></ion-nav-view>
	</ion-tab>
	<ion-tab title="发布" icon-off="tab-publish" icon-on="tab-publish-active" ui-sref="tab.publisher">
		<ion-nav-view name="publishView"></ion-nav-view>
	</ion-tab>
	<ion-tab title="日志" icon-off="tab-blog" icon-on="tab-blog-active" ui-sref="tab.blogs">
		<ion-nav-view name="blogView"></ion-nav-view>
	</ion-tab>
	<ion-tab title="个人" icon-off="tab-user" icon-on="tab-user-active" ui-sref="tab.user">
		<ion-nav-view name="userView"></ion-nav-view>
	</ion-tab>
</ion-tabs>
