<ion-view view-title="我的收藏">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">我的收藏</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list">
			<a class="item item-icon-right" ng-repeat="fav in favTypeList" href="#/favList/{{fav.type}}">
				{{fav.title}}
				<span class="badge badge-assertive" style="right: 46px;">{{fav.count}}</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!favTypeList.length">
			<div class="item text-center padding item-text-wrap">
				暂时没有收藏信息!
			</div>
		</div>
	</ion-content>
</ion-view>


