<ion-view view-title="{{typeTxt}}收藏">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<div class="title">
			{{typeTxt}}收藏
		</div>
		<div class="buttons text-center">
			<button class="button button-clear" ng-click="editClick()">
				{{data.title}}
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="fav in favList" href="#/{{typeLink}}/{{fav.target}}">
				<div class="item item-icon-right">
					<i class="icon ion-ios-arrow-right"></i>

					<div>
						<h2>{{fav.title}}</h2>

						<p>{{fav.createdAt*1000|date:'yyyy.MM.dd'}}</p>
					</div>
				</div>
				<ion-delete-button class="ion-minus-circled" ng-click="removeUsedFav(fav)">
				</ion-delete-button>
			</ion-item>
			<div class="item item-unmore text-center" ng-if="!hasMore && favList.length">
				已加载完！
			</div>
		</ion-list>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!favList.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有收藏信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>

</ion-view>


