<ion-view title="申请成为企业">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<h1 class="title"> 申请成为企业</h1>
	</ion-header-bar>
	<ion-content>
		<div class="text-center border height-100" ng-click="uploadPic(0)">
			<img style="width: 100%;height: 100%;" ng-if="picImg.url" ng-src="{{picImg.url}}">
			<i ng-if="!picImg.url" style="font-size: 26px;" class="icon ion-ios-camera"></i>
			<span ng-if="!picImg.url" style="vertical-align: super;">上传一张企业封面吧~_~!</span>
		</div>
		<div class="list">
			<div class="item item-input">
				<span class="input-label">企业名称：</span>
				<input type="text" placeholder="请输入企业名称(必填)" ng-model="data.company">
			</div>
			<div class="item item-input item-icon-right" ng-click="showMap()">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">所在位置：</span>
				<p class="placeholder" ng-if="!location.name">请选择所在位置(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="location.name">{{location.name}}</p>
			</div>
			<div class="item item-input">
				<span class="input-label">详细地址：</span>
				<input type="text" placeholder="请输入详细地址(必填)" ng-model="data.address">
			</div>
			<div class="item item-input item-icon-right" ng-click="showContentPanel('公司简介',data.desc)">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">公司简介：</span>
				<p class="placeholder" ng-if="!data.desc">请输入公司简介(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="data.desc">{{data.desc}}</p>
			</div>
			<div class="item item-input item-icon-right" ng-click="showContentPanel('经营范围',data.range)">
				<i class="icon ion-ios-arrow-right"></i>
				<span class="input-label">经营范围：</span>
				<p class="placeholder" ng-if="!data.range">请输入经营范围(必填)</p>
				<p class="add-nowrap icon-input-value" ng-if="data.range">{{data.range}}</p>
			</div>
			<div class="item item-input">
				<span class="input-label">联&nbsp系&nbsp人&nbsp：</span>
				<input type="text" placeholder="请输入联系人(必填)" ng-model="data.name">
			</div>
			<div class="item item-input">
				<span class="input-label">电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话：</span>
				<input type="text" placeholder="请输入电话,可为固话(必填)" ng-model="data.tel">
			</div>
			<div class="item item-input">
				<span class="input-label">邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱：</span>
				<input type="text" placeholder="请输入邮箱(可选)" ng-model="data.email">
			</div>
			<div class="item item-input">
				<span class="input-label">网&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址：</span>
				<input type="text" placeholder="请输入网址(可选)" ng-model="data.website">
			</div>
		</div>
		<div class="border company-pics">
			<div class="padding font-size-12">添加公司照片(最多5张)</div>
			<div class="row row-center">
				<div class="col col-20 pic" ng-repeat="img in picsImg" ng-if="picsImg.length">
					<img ng-src="{{img.url}}@100w.jpg" width="100%" ng-click="showPics(picsImg, $index)"/>
					<i class="icon ion-close-circled" ng-click="deletePic(img,1)"></i>
				</div>
				<div class="col col-20 pic" ng-if="picsImg.length<5">
					<img class="border" src="img/photo.jpg" width="100%" ng-click="uploadPic(1)"/>
				</div>
			</div>
		</div>
		<div class="border company-pics">
			<div class="padding font-size-12">添加营业执照(最多1张)</div>
			<div class="row row-center">
				<div class="col col-20 pic" ng-repeat="img in licenseImg" ng-if="licenseImg.length">
					<img ng-src="{{img.url}}@100w.jpg" width="100%" ng-click="showPics(licenseImg, $index)"/>
					<i class="icon ion-close-circled" ng-click="deletePic(img,2)"></i>
				</div>
				<div class="col col-20 pic" ng-if="licenseImg.length<1">
					<img class="border" src="img/photo.jpg" width="100%" ng-click="uploadPic(2)"/>
				</div>
			</div>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="apply()"><strong>立刻申请</strong></button>
		</div>
	</ion-content>
</ion-view>
