<ion-view view-title="二手求购详情">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">二手求购详情</h1>
		<button class="button button-icon icon ion-ios-star-outline" ng-click="fav(item.id)"></button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box>
			<ion-slide ng-repeat="pic in item.pics">
				<img class="full-image-sm" ng-src="{{pic}}@640w_2o_1l.jpg"/>
			</ion-slide>
		</ion-slide-box>
		<div class="list" ng-if="item.id">
			<div class="item padding item-text-wrap">
				<h2>{{item.title}}</h2>

				<div class="padding-top-2">
					<p class="text-right">发布时间：{{item.createdAt*1000 | date:'yyyy-MM-dd HH:mm'}}</p>
				</div>
			</div>
			<a class="item item-divider row" href="tel:{{item.tel}}">
				<div class="col">
					<p style="font-size: 15px;">
						{{item.name}}:
						<span class="positive">{{item.tel}}</span>
					</p>

					<p class="padding-top-5">
						<i class="icon ion-ios-location dark"></i>
						<span>{{item.cityName}}</span>
					</p>
				</div>
				<div class="col col-20 text-right">
					<button style="min-width: 47px"
							class="button button-outline button-icon icon ion-ios-telephone button-positive">
					</button>
				</div>
			</a>

			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					求购数量：<span class="positive">{{item.count}}</span>台
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					详细描述:
				</div>
				<div class="padding-top-2">
					<p>{{item.desc}}</p>
				</div>
			</div>
			<div class="item no-padding" ng-click="showCommentList()">
				<div class="row">
					<div class="col">
						<i class="icon ion-chatbox-working positive"></i>
						<span class="font-size-14">
							评论({{item.comments}}条)
						</span>
						<span class="item-note positive font-size-14">查看全部评论</span>
					</div>
				</div>
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有二手求购信息!
			</div>
		</div>
	</ion-content>
</ion-view>
