<ion-view view-title="二手求购管理">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">二手求购管理</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="editClick()">
				{{data.title}}
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="item in items" href="#/usedBill/{{item.id}}">
				<div class="item list-panel item-thumbnail-left">
					<img class="border-radius-3" ng-src="{{item.pic}}@200w_2o_1l.jpg">
					<h2 class="padding-top">{{item.title}}</h2>
					<p>
						<i class="icon ion-ios-location positive"></i>
						{{item.cityName}}
					</p>
					<p>发布时间：{{item.createdAt*1000 | date:'yyyy-MM-dd HH:mm'}}</p>
					<!--<div class="row row-no-padding">
						<p class="col">
							<i class="icon ion-ios-location positive"></i>
							{{item.cityName}}
						</p>
						<p class="col text-right">
							<i class="icon ion-pinpoint positive"></i>
							{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
						</p>
					</div>-->
				</div>
				<ion-delete-button class="ion-minus-circled" ng-click="removeUsedBill(item)">
				</ion-delete-button>
			</ion-item>
			<div class="item item-unmore text-center" ng-if="!hasMore && items.length">
				已加载完！
			</div>
		</ion-list>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有二手求购信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
		<br>
		<br>
		<br>
	</ion-content>
	<div class="bar bar-footer bar-stable">
		<div class="title" ui-sref="nav.publishUsedBill">
			发布二手求购
		</div>
	</div>
</ion-view>


