<ion-view view-title="日志详情">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.blogs"></back-button>
		<h1 class="title">{{item.title}}</h1>
		<button class="button button-icon icon ion-ios-star-outline" ng-click="fav(item.id)"></button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list" ng-if="item.id">
			<div class="item item-text-wrap padding">
				<h2 class="positive">{{item.title}}</h2>
				<div class="row row-no-padding">
					<p class="col text-right">
						<font class="color-gray">{{item.createdAt*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</font>
					</p>
				</div>
				<div class="row">
					<p class="col">
						{{item.content}}
					</p>
				</div>
				<div class="row row-no-padding">
					<div class="col col-33" ng-repeat="pic in item.pics" ng-if="$index<3">
						<img class="list-img border-radius-3" ng-src="{{pic}}@200w_2o_1l.jpg" width="98%" ng-click="showPics(item.pics,$index)"/>
					</div>
				</div>
				<div class="row row-no-padding">
					<div class="col col-33" ng-repeat="pic in item.pics" ng-if="$index>=3">
						<img class="list-img border-radius-3" ng-src="{{pic}}@200w_2o_1l.jpg" width="98%" ng-click="showPics(item.pics,$index)"/>
					</div>
				</div>
			</div>
			<div class="item no-padding">
				<div class="row">
					<div class="col">
						<i class="icon ion-chatbox-working positive"></i>
						<span class="font-size-14">
							评论({{item.comments}}条)
						</span>
					</div>
				</div>
			</div>
			<div class="list padding" ng-if="!item.comments">
				<div class="item text-center padding">
					暂无评论！
				</div>
			</div>
			<div class="item item-avatar item-text-wrap padding-right" ng-repeat="comment in comments">
				<img ng-src="{{comment.avatar}}@200w_2o_1l.jpg">

				<h2>
					{{comment.userName}}
					<span ng-if="comment.reply" class="positive">回复{{comment.replyName}}</span>
				</h2>

				<p class="clear-nowrap font-size-14">
					{{comment.content}}
				</p>

				<div class="row row-no-padding">
					<div class="col color-gray">
						{{comment.createdAt*1000 | date:'yyyy-MM-dd HH:mm:ss'}}
					</div>
				</div>
			</div>
		</div>
		<div class="list card" ng-click="showCommentList(item.id)" ng-if="comments.length" style="margin-bottom: 50px;">
			<div class="item text-center">查看全部评论</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有日志信息！
			</div>
		</div>
		<br>
		<br>
		<br>
	</ion-content>
	
	<div class="bar bar-footer bg-gray box-shadow-top" ng-if="!praiseId">
		<div class="button-bar text-center">
			<button class="button button-clear" ng-click="addPraise(item.id)">
				<i class="icon ion-android-favorite-outline positive">
					点赞({{item.likes}})
				</i>
			</button>
			<button class="button button-clear" ng-click="showCommentList(item.id)">
				<i class="icon ion-chatbox-working positive"></i>
				评论({{item.comments}})
			</button>
		</div>
	</div>
	<div class="bar bar-footer bg-gray box-shadow-top" ng-if="praiseId">
		<div class="button-bar text-center">
			<button class="button button-clear" ng-click="removePraise()">
				<i class="icon ion-android-favorite positive"></i>
				点赞({{item.likes}})
			</button>
			<button class="button button-clear" ng-click="showCommentList(item.id)">
				<i class="icon ion-chatbox-working positive"></i>
				评论({{item.comments}})
			</button>
		</div>
	</div>
</ion-view>
