<ion-view title="发布日志"> 
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.publisher"></back-button>
		<h1 class="title">编辑日志</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">标题：</span>
				<input type="text" placeholder="请输入标题(必填)" ng-model="data.title">
			</label>
			<label class="item item-input text">
				<textarea placeholder="请输入日志内容..." rows="6" ng-model="data.content" name="reason"></textarea>
			</label>

			<div class="border company-pics">
				<div class="padding">上传图片(最多5张)</div>
				<div class="row row-center">
					<div class="col col-20 pic" ng-repeat="img in picsImg" ng-if="picsImg.length">
						<img ng-src="{{img.url}}@100w.jpg" width="100%"/>
						<i class="icon ion-close-circled" ng-click="deletePic(img)"></i>
					</div>
					<div class="col col-20 pic" ng-if="picsImg.length<5">
						<img class="border" src="img/photo.jpg" width="100%" ng-click="uploadPic()"/>
					</div>
				</div>
			</div>
			<div class="item item-icon-right blog-position" ng-click="showMap()">
				<i class="icon ion-ios-arrow-right"></i>
				所在位置(选择)
				<span class="item-note positive">{{data.address}}</span>
			</div>
		</div>
		<div class="text-center padding">
			<button class="button button-block button-positive" ng-click="publish()"><strong>发布</strong></button>
		</div>
	</ion-content>
	 
</ion-view>
