<ion-modal-view>
	<div class="bar bar-header bar-positive">
		<div class="buttons">
			<button class="button" ng-click="hideConfirm()">取消</button>
		</div>
		<h1 class="title">确认订单</h1>
	</div>
	<ion-content style="padding-top: 45px;">
		<div class="list">
			<div class="item item-divider">
				支付方式
			</div>
			<div class="item item-icon-left item-icon-right" ng-model="data.payment">
				<i class="icon ion-chatbubbles balanced"></i>
				微信支付
				<i class="icon ion-android-done balanced"></i>
			</div>
			<div class="item item-divider">
				购买VIP信息
			</div>
			<div class="item item-text-wrap">
				<div class="row row-no-padding">
					<div class="col">
						开通<span class="positive">{{data.monthCount}}</span>个月
					</div>
					<div class="col">
						<i class="icon ion-social-yen assertive"></i>
						<span class="assertive">{{data.monthCount*data.price}}</span>元
					</div>
					<div class="col">
						<span class="item-note">{{data.price}}元/月</span>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
		<div class="title">
			<span class="padding-right">
				总月数:
				<b class="assertive">{{data.monthCount}}</b>个月
			</span>
			总金额:
			<b class="assertive">{{priceCount}}</b>元
		</div>
		<div class="buttons" ng-click="pay()">
			<button class="button button-balanced">支付</button>
		</div>
	</ion-footer-bar>
</ion-modal-view>
