<ion-view view-title="个人资料">
	<ion-header-bar align-title="center" class="bar-stable" style="border-bottom: 1px solid #C4C4C4;">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">个人资料</h1>
	</ion-header-bar>
	<ion-content class="bg-gray user-info">
		<div class="list"></div>
		<div class="list" style="margin-top: 10px">
			<div class="item item-avatar item-icon-right" ng-click="changeAvatar()">
				<img ng-src="{{user.avatar}}@200w_2o_1l.jpg">
				<i class="icon ion-ios-arrow-right"></i>
			</div>
		</div>
		<div class="list">
			<div class="item item-icon-right" ng-click="changeName()">
				<i class="icon ion-ios-arrow-right"></i>
				修改昵称
				<span class="item-note">{{user.name || '未设置'}}</span>
			</div>
		</div>
		<div class="list">
			<div class="item item-icon-right" ng-click="changePassword()">
				<i class="icon ion-ios-arrow-right"></i>
				修改密码
			</div>
		</div>
		<div class="text-center">
			<button class="button button-positive" ng-click="logout()"><strong>注销登陆</strong>
			</button>
		</div>
	</ion-content>
</ion-view>
