<ion-view view-title="个人中心">
	<ion-header-bar class="bar-positive">
		<div class="buttons" ng-if="!logined" ng-click="showLogin()" ng-show="isCheck">
			<button class="button button-clear" style="font-size: 13px;">
				会员说明
			</button>
		</div>
		<div class="buttons" ng-if="logined" ng-show="isCheck">
			<button class="button button-clear" style="font-size: 13px;" ng-click="showPage('vipDesc')">
				会员说明
			</button>
		</div>
		<h1 class="title">个人中心</h1>
		<div class="buttons" ng-if="!logined" ng-click="showLogin()">
			<button class="button-icon icon ion-chatbubble-working light">
			</button>
		</div>
		<div class="buttons" ng-if="logined">
			<button ui-sref="nav.messageList" class="button button-clear button-icon icon ion-chatbubble-working light">
				<span ng-if="user.hasNewMsg" class="round-toast-news"></span>
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="bg-gray user-center">
		<ion-refresher ng-if="logined" pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div ng-if="!logined">
			<div ng-click="showLogin()">
				<div class="list">
					<div class="item item-avatar item-icon-right">
						<img src="img/user-log.png">
						<h2><strong>起重汇账号</strong></h2>
						<p>未登陆</p>
						<i class="icon ion-ios-arrow-right"></i>
					</div>
					<div class="item" style="padding: 0;">
						<div class="index-tabs-panel">
							<div class="tabs">
								<div class="tab-item" ng-show="isCheck">
									<div class="icon text-center">
										<img class="full-img border-radius-10" src="img/ub-vip.png">
									</div>
									开通会员
								</div>
								<div class="tab-item">
									<div class="icon text-center">
										<img class="full-img border-radius-10" src="img/ub-qiye.png">
									</div>
									申请成为企业
								</div>
								<div class="tab-item">
									<div class="icon text-center">
										<img class="full-img border-radius-10" src="img/ub-chanping.png">
									</div>
									我的产品
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="list">
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-qiugou"></i>
						我的求购信息
					</div>
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-ershouqiugou"></i>
						我的二手求购
					</div>
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-ershouchanpin "></i>
						我的二手产品
					</div>
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-wuliuxinxi"></i>
						我的发货信息
					</div>
				</div>
				<div class="list">
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-zhaoanzhuang"></i>
						我的安装
					</div>
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-rizi"></i>
						我的日志
					</div>
					<div class="item item-icon-left">
						<i class="icon ion-ios-pricetag-outline"></i>
						我的特价卖场
					</div>
					<div class="item item-icon-left">
						<i class="icon u-icon-png icon-u-fav"></i>
						我的收藏
					</div>
				</div>
			</div>
			<div class="list">
				<div class="item item-icon-left" ui-sref="nav.setting">
					<i class="icon u-icon-png icon-u-setting"></i>
					设置
				</div>
			</div>
		</div>
		<div ng-if="logined">
			<div class="list">
				<div class="item item-avatar item-icon-right" ui-sref="nav.userInfo">
					<img ng-src="{{user.avatar}}@200w_2o_1l.jpg">
					<h2><strong>{{user.name || '未设置昵称'}}</strong></h2>
					<p>{{user.tel}}</p>
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<div ng-if="user.vip" class="padding text-center">
					会员到期时间：<b>{{user.vipExpireAt*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</b>
				</div>
				<div class="item" style="padding: 0;">
					<div class="index-tabs-panel">
						<div class="tabs">
							<div class="tab-item" ng-if="!user.vip" ng-click="showVIP()" ng-show="isCheck">
								<div class="icon text-center">
									<img class="full-img border-radius-10" src="img/ub-vip.png">
								</div>
								开通会员
							</div>
							<div class="tab-item" ng-if="user.enterpriseStatus == 0" ui-sref="nav.applyEnterprise">
								<div class="icon text-center">
									<img class="full-img border-radius-10" src="img/ub-qiye.png">
								</div>
								申请成为企业
							</div>
							<div class="tab-item" ng-if="user.enterpriseStatus == 1" ng-click="popoverPanel('企业权限正在审核中...！')">
								<div class="icon text-center">
									<img class="full-img border-radius-10" src="img/ub-qiye.png">
								</div>
								我的企业
							</div>
							<div class="tab-item" ng-if="user.enterpriseStatus == 2" ui-sref="nav.enterpriseInfo">
								<div class="icon text-center">
									<img class="full-img border-radius-10" src="img/ub-qiye.png">
								</div>
								我的企业
							</div>
							<div class="tab-item" ng-if="user.enterpriseStatus == 2" ui-sref="nav.productManage">
								<div class="icon text-center">
									<img class="full-img border-radius-10" src="img/ub-chanping.png">
								</div>
								我的产品
							</div>
							<div class="tab-item" ng-if="user.enterpriseStatus != 2" ng-click="popoverPanel('请先申请企业...！')">
								<div class="icon text-center">
									<img class="full-img border-radius-10" src="img/ub-chanping.png">
								</div>
								我的产品
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="item item-icon-left" ui-sref="nav.billManage">
					<i class="icon u-icon-png icon-u-qiugou"></i>
					我的求购信息
				</div>
				<div class="item item-icon-left" ui-sref="nav.usedBillManage">
					<i class="icon u-icon-png icon-u-ershouqiugou"></i>
					我的二手求购
				</div>
				<div class="item item-icon-left" ui-sref="nav.usedProductManage">
					<i class="icon u-icon-png icon-u-ershouchanpin "></i>
					我的二手产品
				</div>
				<div class="item item-icon-left" ui-sref="nav.transGoodsManage">
					<i class="icon u-icon-png icon-u-wuliuxinxi"></i>
					我的发货信息
				</div>
			</div>
			<div class="list">
				<div class="item item-icon-left" ui-sref="nav.setupManage">
					<i class="icon u-icon-png icon-u-zhaoanzhuang"></i>
					我的安装
				</div>
				<div class="item item-icon-left" ui-sref="nav.blogManage">
					<i class="icon u-icon-png icon-u-rizi"></i>
					我的日志
				</div>
				<div class="item item-icon-left" ui-sref="nav.tuanManage">
					<i class="icon ion-ios-pricetag-outline"></i>
					我的特价产品
				</div>
				<div class="item item-icon-left" ui-sref="nav.fav">
					<i class="icon u-icon-png icon-u-fav"></i>
					我的收藏
				</div>
			</div>
			<div class="list">
				<div class="item item-icon-left" ui-sref="nav.setting">
					<i class="icon u-icon-png icon-u-setting"></i>
					设置
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
