<!--<div class="countbox hbox">
	<button class="button ion-minus" ng-click="num.count = num.count - 1" ng-disabled="num.count <= 1"></button>
	<label class="item item-input flex">
		<input class="text-center" type="text" ng-model="num.count">
	</label>
	<button class="button ion-plus" ng-click="num.count = num.count + 1;"></button>
</div>-->
<!--<h4 class="text-center">需支付定金：<span class="assertive">{{item.deposit*num.count}}</span>元</h4>-->

<div class="row row-center row-no-padding">
	<div class="col col-25 text-left">
		<button class="button ion-minus" ng-click="num.count = num.count - 1" ng-disabled="num.count <= 1"></button>
	</div>
	<div class="col">
		<label class="item item-input">
			<input class="text-center" min="1" type="number" ng-model="num.count">
		</label>
	</div>
	<div class="col col-25 text-right">
		<button class="button ion-plus" ng-click="num.count = num.count + 1;"></button>
	</div>
</div>
