<ion-view view-title="特价卖场产品详情">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">{{item.title}}</h1>
		<button class="button button-icon icon ion-ios-star-outline" ng-click="fav(item.id)"></button>
	</ion-header-bar>
	<ion-content ng-click="hidePanel()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box>
			<ion-slide ng-repeat="pic in item.pics">
				<img class="full-image-sm" ng-src="{{pic}}@640w_2o_1l.jpg"/>
			</ion-slide>
		</ion-slide-box>
		<div class="list" ng-if="item.id">
			<!--	<h2 class="item text-center padding item-text-wrap">
                    {{item.title}}
                </h2>-->
			<div class="item item-text-wrap no-padding">
				<div class="row">
					<div class="col">
						价格:
						<i class="icon ion-social-yen assertive"></i>
						<span class="assertive">{{item.price}}</span>
						<span ng-if="item.originalPrice" style="font-size: 11px;text-decoration:line-through;padding-left: 3px;color: #aaa;">
							{{item.originalPrice}}元
						</span>
					</div>
					<div class="text-right" style="padding: 5px;">
						定金:
						<span class="assertive">{{item.deposit}}</span>元/台
					</div>
				</div>
			</div>
			<a class="item item-divider row" href="tel:{{item.tel}}">
				<div class="col">
					<p style="font-size: 15px;">
						{{item.name}}:
						<span class="positive">{{item.tel}}</span>
					</p>
					<p class="padding-top-5">来源:官方</p>
				</div>
				<div class="col col-20 text-right">
					<button style="min-width: 47px"
							class="button button-outline button-icon icon ion-ios-telephone button-positive">
					</button>
				</div>
			</a>
			<div class="item padding item-text-wrap">
				<div class="assertive font-size-12">说明：购买该产品需支付定金{{item.deposit}}元/台</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					使用范围:
				</div>
				<div class="padding-top-2">
					<div class="font-size-12" style="overflow-x: auto!important;" ng-bind-html="item.range"></div>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					产品描述:
				</div>
				<div class="padding-top-2">
					<div class="font-size-12" style="overflow-x: auto!important;" ng-bind-html="item.content"></div>
				</div>
			</div>
			<div class="item no-padding" ng-click="showCommentList(item.id)">
				<div class="row">
					<div class="col">
						<i class="icon ion-chatbox-working positive"></i>
						<span class="font-size-14">
							评论({{item.comments}}条)
						</span>
						<span class="item-note positive font-size-14">查看全部评论</span>
					</div>
				</div>
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有产品信息！
			</div>
		</div>
		<br>
		<br>
		<br>
	</ion-content>
	<div class="bar bar-footer bar-stable" ng-if="item.id">
		<div class="title" ng-click="buy()">购买</div>
	</div>
</ion-view>
