<ion-modal-view view-title="启动画面" ng-controller="StartImg">

	<ion-content scroll="false" class="start-panel">
		<ion-slide-box show-pager="true" style="height: 100%">
			<ion-slide>
				<div class="pics-show-panel">
					<div class="panel-table">
						<div class="table-cell">
							<img class="full-image" ng-src="img/intro/start1.jpg">
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="pics-show-panel">
					<div class="panel-table">
						<div class="table-cell">
							<img class="full-image" src="img/intro/start2.jpg">
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="pics-show-panel">
					<div class="panel-table">
						<div class="table-cell">
							<img class="full-image" src="img/intro/start3.jpg">
						</div>
					</div>
					<div class="row start-btn">
						<div class="col text-center">
							<button class="button button-assertive button-outline" ng-click="hide()"><font class="light">立即体验</font></button>	
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-modal-view>
