<ion-view view-title="{{inspectionDetail.title}}">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">质监局详情</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list" ng-if="inspectionDetail.id" style="margin-bottom: 0;">
			<div class="item padding item-text-wrap">
				<h2 class="text-center"><strong>{{inspectionDetail.title}}</strong></h2>
				<div class="row row-no-padding">
					<p class="col">地区:{{inspectionDetail.cityName}}</p>
					<p class="col col-offset text-right">发布时间:{{inspectionDetail.createdAt*1000|date:'yyyy-MM-dd'}}</p>
				</div>
			</div>
			<div class="item padding item-text-wrap">
				<div style="overflow-x: auto!important;" ng-bind-html="inspectionDetail.content"></div>
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!inspectionDetail&&!loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有质监局信息!
			</div>
		</div>
	</ion-content>
</ion-view>


