<ion-view view-title="发布二手信息">
	<ion-header-bar align-title="center" class="bar-positive">
		<back-button goback="tab.publisher"></back-button>
		<h1 class="title">发布二手信息</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item item-icon-right"  ui-sref="nav.publishUsedBill">
				<i class="icon ion-ios-arrow-right"></i>
				二手求购
			</div>
			<div class="item item-icon-right" ui-sref="nav.publishUsedProduct">
				<i class="icon ion-ios-arrow-right"></i>
				二手出售
			</div>
		</div>
	</ion-content>
</ion-view>

