<ion-view view-title="我的特价产品">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.user"></back-button>
		<h1 class="title">我的特价产品</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list card margin-top-10 tuan-list-panel" ng-repeat="item in items">
			<a class="item item-thumbnail-left item-text-wrap" href="#/tuan/{{item.id}}">
				<img ng-src="{{item.pic}}@200w_2o_1l.jpg">

				<h2>{{item.title}}</h2>

				<div class="row row-no-padding">
					<p class="col">
						<i class="icon ion-social-yen assertive"></i>
						{{item.price}}
					</p>

					<p class="col">
						定金:
						<span class="assertive">{{item.deposit}}</span>元/台
					</p>
				</div>
				<div class="row row-no-padding">
					<p class="col">
						购买数量:
						<span class="positive">{{item.count}}</span>台
					</p>
				</div>
				<div class="row row-no-padding">
					<p class="col">
						<font class="positive">需支付定金:</font>
						<i class="icon ion-social-yen assertive"></i>
						<span class="assertive">{{item.deposit*item.count}}</span>元
					</p>
				</div>
			</a>

			<div class="item no-padding">
				<div class="row row-center row-no-padding padding" ng-if="item.orderState === 200">
					<p class="col">
						<span class="assertive">等待付款</span>
					</p>

					<div class="col">
						<div class="row row-no-padding">
							<div class="col text-right padding-left">
								<button class="button button-assertive" ng-click="cancel(item.orderId)">
									取消
								</button>
							</div>
							<div class="col text-right">
								<button class="button button-balanced " ng-click="pay(item.orderId)">支付
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-center row-no-padding padding" ng-if="item.orderState === 300">
					<p class="col">
						<span class="assertive">已付款</span>
					</p>
					<p class="col text-right">
						<span class="positive">您已预定{{item.count}}台</span>
					</p>
				</div>
				<div class="row row-center row-no-padding padding" ng-if="item.orderState === 910">
					<p class="col">
						<span class="assertive">买家已取消</span>
					</p>

					<div class="col text-right">
						<button class="button button-assertive" ng-click="remove(item.orderId)">删除</button>
					</div>
				</div>
			</div>
			<div class="item item-divider light-bg">
				<div class="row row-no-padding">
					<p class="col text-right">
						<!--<i class="icon ion-pinpoint positive"></i>-->
						<span class="color-gray">{{item.orderCreatedAt*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="list card" ng-if="!hasMore && items.length">
			<div class="item  item-unmore text-center">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有特价产品信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>


