<ion-view view-title="详情">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">详情</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list" ng-if="item.id">
			<div class="item padding item-text-wrap">
				<h2 class="padding text-center">
					{{item.title}}
				</h2>

				<div class="hbox">
					<div class="flex">
						<p>发布时间：{{item.createdAt*1000|date:'yyyy.MM.dd'}}</p>
					</div>
					<div>
						<p>来源:{{item.author}}</p>
					</div>
				</div>
			</div>
			<div class="item padding item-text-wrap" ng-if="item.name && item.tel">
				<div class="padding-bottom font-size-14">联系方式</div>
				<a href="tel:{{item.tel}}" class="button button-outline button-small button-positive">
					{{item.name}}：{{item.tel}}
				</a>
			</div>
			<div class="item padding item-text-wrap" ng-if="!item.name && !item.tel" ng-show="isCheck">
				<button ng-click="applyVIP()" class="button button-outline button-small button-positive">联系方式查看</button>
			</div>
			<div class="item padding item-text-wrap">
				<div class="font-size-14">
					<i class="icon ion-android-send dark"></i>
					具体内容:
				</div>
				<div class="padding-top-2">
					<div class="font-size-12" style="overflow-x: auto!important;" ng-bind-html="item.content"></div>
				</div>
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有详情信息！
			</div>
		</div>
	</ion-content>
</ion-view>
