<ion-view>
	<ion-header-bar align-title="center" class="bar-positive position-relative">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">招标信息</h1>
		<button class="button button-clear" ng-click="filter.isShow = !filter.isShow">筛选</button>
	</ion-header-bar>
	<div class="fav-share-panel list card" ng-if="filter.isShow">
		<div class="item positive-bg" ng-click="showCity(0)">
			<span class="light">全部</span>
		</div>
		<div class="item positive-bg" ng-click="showCity(1)">
			<span class="light">地区</span>
		</div>
	</div>
	<div class="tabs-striped tabs-top tabs-color-assertive tabs-background-stable">
		<div class="tabs" ng-click="filter.isShow=false">
			<div class="tab-item" ng-class=" type == 1 ? 'active':''" ng-click="currentSlide(1)">招标公告</div>
			<div class="tab-item" ng-class=" type == 3 ? 'active':''" ng-click="currentSlide(2)">在建项目</div>
			<div class="tab-item" ng-class=" type == 4 ? 'active':''" ng-click="currentSlide(3)">拟建项目</div>
			<div class="tab-item" ng-class=" type == 2 ? 'active':''" ng-click="currentSlide(4)">中标结果</div>
			<div class="tab-item" ng-class=" type == 5 ? 'active':''" ng-click="currentSlide(5)">项目动态</div>
		</div>
	</div>
	<ion-content class="has-tabs-top" on-scroll-complete="onScrollComplete()"  ng-click="filter.isShow=false">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<ion-slide-box auto-play="false" show-pager="false" on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-class="type!==1 ? 'slide-height':''">
				<div class="list" ng-if="tenderNoticeItems.length">
					<a class="item padding" ng-repeat="item in tenderNoticeItems" href="#/tender/{{item.id}}">
						<h2>{{item.title}}</h2>

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>
					</a>

					<div class="item item-unmore text-center" ng-if="!hasMore && tenderNoticeItems.length">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="tenderNoticeError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{tenderNoticeError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!tenderNoticeError&&!tenderNoticeItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有招标公告信息!
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide ng-class="type!==3 ? 'slide-height':''">
				<div class="list" ng-if="projectBuiltingItems.length">
					<a class="item" ng-repeat="item in projectBuiltingItems" href="#/tender/{{item.id}}">
						<h2 class="padding-top">{{item.title}}</h2>

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>
					</a>

					<div class="item  item-unmore text-center" ng-if="!hasMore && projectBuiltingItems.length">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="projectBuiltingError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{projectBuiltingError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!projectBuiltingError&&!projectBuiltingItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有在建项目信息!
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide ng-class="type!==4 ? 'slide-height':''">
				<div class="list" ng-if="projectVirtualItems.length">
					<a class="item" ng-repeat="item in projectVirtualItems" href="#/tender/{{item.id}}">
						<h2 class="padding-top">{{item.title}}</h2>

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>
					</a>

					<div class="item  item-unmore text-center" ng-if="!hasMore && projectVirtualItems.length">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="projectVirtualError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{projectVirtualError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!projectVirtualError&&!projectVirtualItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有拟建项目信息!
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide ng-class="type!==2 ? 'slide-height':''">
				<div class="list" ng-if="tenderResultItems.length">
					<a class="item padding" ng-repeat="item in tenderResultItems" href="#/tender/{{item.id}}">
						<h2 class="padding-top">{{item.title}}</h2>

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>
					</a>

					<div class="item  item-unmore text-center" ng-if="!hasMore && tenderResultItems.length">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="tenderResultError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{tenderResultError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!tenderResultError&&!tenderResultItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有中标结果信息!
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide ng-class="type!==5 ? 'slide-height':''">
				<div class="list" ng-if="projectTrendItems.length">
					<a class="item" ng-repeat="item in projectTrendItems" href="#/tender/{{item.id}}">
						<h2 class="padding-top">{{item.title}}</h2>

						<div class="row row-no-padding">
							<p class="col">
								<i class="icon ion-ios-location positive"></i>
								{{item.cityName}}
							</p>

							<p class="col text-right">
								<i class="icon ion-pinpoint positive"></i>
								{{item.createdAt*1000 | date:'yyyy-MM-dd'}}
							</p>
						</div>
					</a>

					<div class="item  item-unmore text-center" ng-if="!hasMore && projectTrendItems.length">
						已加载完！
					</div>
				</div>
				<div class="border-top padding" ng-if="projectTrendError">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							{{projectTrendError}}
						</div>
					</div>
				</div>
				<div class="border-top padding" ng-if="!projectTrendError&&!projectTrendItems.length && !loading">
					<div class="list card">
						<div class="item text-center padding item-text-wrap">
							暂时没有项目动态信息!
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
