<ion-view view-title="资讯详情">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">资讯详情</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list" ng-if="item.id">
			<div class="item padding item-text-wrap">
				<h2 class="padding text-center">
					{{item.title}}
				</h2>
				<div class="row row-no-padding">
					<div class="col">
						<p>发布时间：{{item.createdAt*1000|date:'yyyy.MM.dd'}}</p>
					</div>
					<div class="col text-right">
						<p>来源：{{item.author}}</p>
					</div>
				</div>
			</div>
			<div class="padding item-text-wrap">
				<div class="font-size-12" style="overflow-x: auto!important;" ng-bind-html="item.content"></div>
			</div>
		</div>

		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!item">
			<div class="item text-center padding item-text-wrap">
				暂时没有资讯信息！
			</div>
		</div>
	</ion-content>
</ion-view>
