<ion-view view-title="资讯中心">
	<ion-header-bar class="bar-positive">
		<back-button goback="tab.index"></back-button>
		<h1 class="title">资讯中心</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
		<div class="list">
			<a class="item item-icon-right" ng-repeat="item in items" href="#/news/{{item.id}}">
			<i class="icon ion-ios-arrow-right"></i>
				<div>
					<h2>{{item.title}}</h2>
					<p>{{item.createdAt*1000|date:'yyyy.MM.dd'}}</p>
				</div>
			</a>
			<div class="item item-unmore text-center" ng-if="!hasMore && items.length">
				已加载完！
			</div>
		</div>
		<div class="list card" ng-if="error">
			<div class="item text-center padding item-text-wrap">
				{{error}}
			</div>
		</div>
		<div class="list card" ng-if="!error&&!items.length && !loading">
			<div class="item text-center padding item-text-wrap">
				暂时没有资讯信息!
			</div>
		</div>
		<ion-infinite-scroll ng-if="hasMore && !loading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
